.player-container {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 20px rgba(0,0,0,1);
  }
  .control-panel {
    background-color:black;
  }
  .player-screen {
    flex-grow: 1;
  }
  .player-button {
    color: white;
    background-color: transparent;
    margin: 10px;
    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;

  }
  .control-panel {
    padding-right: 10px;
    display: flex;
    flex-direction: row;

  }
  .progress-line {
    background-color: grey;
    margin: 20px;
    height: 20%;
    flex-grow: 1;
  }
  .progress-slider {
    background-color: red;
    height: 100%;
  }