@import "normalize.css";

body {
  font-size: 16px;
  line-height: normal;
}

.player-container {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 20px rgba(0,0,0,1);
  }
  .player-screen {
    flex-grow: 1;
  }

  .player-button {
    color: white;
    font-size: 10px;
    background-color: transparent;
    margin: 2px;
    width: 31px;
    height: 42px;
    border-style: none;
    cursor: pointer;
}

  .control-panel {
    background-color: black;
    padding-right: 1px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
  }

  .viewing-panel {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .progress-line {
    background-color: black;
    display: flex;
    flex-grow: 1;
    margin-bottom: -2px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 2px;
    height: 5px;
    cursor: pointer;
  }

  .progress-slider {
    background-color: red;
    margin-bottom: -2px;
    border-radius: 2px;
    height: 5px;
  }

  .time_view {
    color: white; 
    font-family: 'Roboto', sans-serif;
  }

  .dot {
    background-color: red;
    height: 10px;
    width: 10px;
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    display: inline-block;
    margin-top: -5px;
    margin-left: -8px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
  
  .viewing-panel:hover .dot {
    opacity: 1;
  }