.player-container {
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0 0 20px rgba(0,0,0,1);
  }
  .player-screen {
    flex-grow: 1;
  }
  .player-button {
    font-size: 10px;
    color: white;
    background-color: transparent;
    FONT-WEIGHT: 500;
    FONT-WEIGHT: 500;
    margin: 2px;
    width: 31px;
    height: 32px;
    border-style: none;
    cursor: pointer;
}

  .control-panel {
    background-color: black;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;

  }
  .progress-line {
    background-color: grey;
    margin: 20px;
    height: 20%;
    flex-grow: 1;
  }
  .progress-slider {
    background-color: red;
    height: 100%;
  }